/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 4rem;
}

/******************************************
/* LAYOUT
/*******************************************/

main,
.mainTop,
.mainBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainTop,
.mainBottom {
  width: 60%;
  text-align: center;
}

.mainTop {
  margin-top: 100px;
}

.NASA {
  height: 400px;
  width: 400px;
}

.NASAImg {
  width: 100%;
  height: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-image: url('assets/thumbnail.jpg');
}

h2,
h3 {
  font-size: 3.2rem;
}

p {
  font-size: 2.4rem;
}

img{
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

body {
  color: white;
}

.descriptionContainer,
.NASA {
  background-color: rgba(0, 0, 0, 0.75);
}